@font-face	{

  font-family:Replica Bold;
  src:url("ReplicaTrial-Bold.otf");

}

@font-face	{

  font-family:Replica Light;
  src:url("ReplicaTrial-Light.otf");
}

@font-face	{

  font-family:Iconographica;
  src:url("Iconografica.ttf");
}

body, html {
    height:100%;
    background-color:#ffffff;
}

#title{
  font-family: Replica Bold;
  font-size:4.7vw;
  letter-spacing: -0.3vw;
  line-height:93%;
  color:#EA3283;
  position:absolute;
  left:15vw;
  top:24vh;
}

#introtext{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:auto;
  position:absolute;
  left:15vw;
  top:54.5vh;
}

#sub1{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:64.5vh;
}

#sub2{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:77.5vh;
}

#sub3{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:90.5vh;
}

#sub4{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:103.5vh;
}

#subh1{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:70.9vh;
}

#subh2{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:83.9vh;
}

#subh3{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:96.9vh;
}

#subh4{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:109.9vh;
}

#previous{
  font-family: Iconographica;
  font-size:3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:5vh;
}


#brief{
  font-family: Replica Bold;
  letter-spacing: -0.05vw;
  color:#ACACAC;
  font-size:2vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:121vh;
}

#briefd{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:132.1vh;
}

#client{
  font-family: Replica Bold;
  letter-spacing: -0.05vw;
  color:#ACACAC;
  font-size:2vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:160.8vh;
}

#clientd{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:171.3vh;
}

#overview{
  font-family: Replica Bold;
  letter-spacing: -0.05vw;
  color:#ACACAC;
  font-size:2vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:199vh;
}

#overviewd{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:210.1vh;
}

#mood{
  font-family: Replica Bold;
  color:#ACACAC;
  letter-spacing: -0.05vw;
  font-size:2vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:250.3vh;
}

#moodd{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:261.4vh;
}

#moodimg{
  width:75vw;
  position:absolute;
  left:15vw;
  top:292.7vh;
}


#visual{
  font-family: Replica Bold;
  letter-spacing: -0.05vw;
  color:#ACACAC;
  font-size:2vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:381.5vh;
}

#visuald{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:392.6vh;
}


#final{
  font-family: Replica Bold;
  letter-spacing: -0.05vw;
  color:#ACACAC;
  font-size:2vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:420vh;
}

#thetwo{
  width:71vw;
  position:absolute;
  left:15vw;
  top:438vh;
}

#thefinals{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:514.3vh;
}

#firstp{
  font-family: Replica Bold;
  letter-spacing: -0.05vw;
  color:#ACACAC;
  color:#b2b0b0;
  font-size:1.3vw;
  line-height:1.5;
  position:absolute;
  left:15vw;
  top:-1.5vw;
}

#video{
  height:52vw;
  width:99vw;
  position:absolute;
  top:558vh;
}

#video2{
  height:52vw;
  width:99vw;
  position:absolute;
  top:668.5vh;
}

#video3{
  height:52vw;
  width:99vw;
  position:absolute;
  top:779vh;
}

#video4{
  height:52vw;
  width:99vw;
  position:absolute;
  top:889.5vh;
}

#video5{
  height:52vw;
  width:99vw;
  position:absolute;
  top:1000vh;
}

a:link {
  color: #c1bbbb;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c1bbbb;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #EA3283;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #c1bbbb;
  text-decoration: none;
}
