@font-face	{

  font-family:Replica Bold;
  src:url("ReplicaTrial-Bold.otf");

}

@font-face	{

  font-family:Replica Light;
  src:url("ReplicaTrial-Light.otf");
}

@font-face	{

  font-family:Iconographica;
  src:url("Iconografica.ttf");
}

body, html {
    height:100%;
    background-color:#ffffff;
    overflow-x: hidden;
}

#title{
  font-family: Replica Bold;
  font-size:4.7vw;
  letter-spacing:-0.3vw;
  line-height:93%;
  color:#EA3283;
  position:absolute;
  left:15vw;
  top:24vh;
}

#introtext{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:54.5vh;
}

#polyintpho{
  width:100%;
  position:absolute;
  top:71vh;
  left:0vw;
}

#sub1{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:143.5vh;
}

#sub2{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:156.5vh;
}

#sub3{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:169.5vh;
}

#sub4{
  font-family: Replica Bold;
  color: black;
  font-size:1.3vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:182.5vh;
}

#subh1{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:149.9vh;
}

#subh2{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:162.9vh;
}

#subh3{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:175.9vh;
}

#subh4{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:188.9vh;
}

#previous{
  font-family: Iconographica;
  font-size:3vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:5vh;
}

#brief{
  font-family: Replica Bold;
  color:#ACACAC;
  font-size:2vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:197.5vh;
}

#briefd{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:212vh;
}

#client{
  font-family: Replica Bold;
  color:#ACACAC;
  font-size:2vw;
  letter-spacing: -0.05vw;
  line-height:5.2vw;
  position:absolute;
  left:15vw;
  top:223.5vh;
}

#clientd{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:238.2vh;
}

#gallerygroup{
  width:69.5vw;
  position:absolute;
  left:15vw;
  top:271vh;
}

#primary{
  font-family: Replica Bold;
  color:#ACACAC;
  font-size:2vw;
  letter-spacing: -0.05vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:342.6vh;
}

#primaryd{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:354.2vh;
}

#blue{
  width:70vw;
  position:absolute;
  left:15vw;
  top:380vh;
}

#ethics{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:418vh;
}

#boldbig{
  font-size:1.35vw;
  letter-spacing: -0.05vw;
}

#rect1{
  width:24.5vw;
  position:absolute;
  left:33.8vw;
  top:674vh;
}


#signs{
  width:70vw;
  position:absolute;
  left:13vw;
  top:437vh;
}

#map{
  width:35vw;
  position:absolute;
  left:0vw;
  top:470vh;
}

#lack{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:552.5vh;
}

#chase{
  width:70vw;
  position:absolute;
  left:15vw;
  top:592vh;
}

#workshop{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:679.3vh;
}


#exers{
  width:70vw;
  position:absolute;
  top:703vh;
  left:15vw;
}


#goalsimg{
  width:60vw;
  position:absolute;
  left:15vw;
  top:1016vh;
}

#finalp{
  font-family: Replica Bold;
  color:#ACACAC;
  font-size:2vw;
  letter-spacing: -0.05vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:1062.7vh;
}

#finalex{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:1074.4vh;
}

#finalex2{
  font-family: Replica Light;
  font-size:1.3vw;
  line-height:160.4%;
  position:absolute;
  left:15vw;
  top:1142.5vh;
}

#frameimg{
  width: 100vw;
  position:absolute;
  left:0vw;
  top:1094.5vh;
}

#journey{
  font-family: Replica Bold;
  color:#ACACAC;
  font-size:2vw;
  letter-spacing: -0.05vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:1193.5vh;
}

#map2{
  width: 70vw;
  position:absolute;
  left:15vw;
  top:1212vh;
}

#map2info{
  width:70vw;
  position:absolute;
  left:15vw;
  top:1304vh;
}

#mocktitle{
  font-family: Replica Bold;
  color:#ACACAC;
  font-size:2vw;
  letter-spacing: -0.05vw;
  line-height:normal;
  position:absolute;
  left:15vw;
  top:1530vh;
}

#tmock{
  width:70vw;
  position:absolute;
  left:15vw;
  top:1548.4vh;
}

#realmock{
  width:70vw;
  position:absolute;
  left:15vw;
  top:1652.8vh;
  padding-bottom:15vh;
}

a:link {
  color: #c1bbbb;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #c1bbbb;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #EA3283;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #c1bbbb;
  text-decoration: none;
}
